main{
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
}

.main__background--mobile{
    background-image: url(../images/image-hero-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
    width: 100vw;
}

.container__main {
    text-align: center;
}

h1{
    font-family: var(--font-epilogue);
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 3rem;
    text-align: center;
}

.main__text{
    color: var(--color-medium-gray);
    font-family: var(--font-epilogue);
    line-height: 1.6rem;
    padding: 0rem .8rem;
    text-align: center;
}

.main__button{
    background-color: var(--color-almost-black);
    border-radius: 1rem;
    font-family: var(--font-epilogue);
    margin-top: 1.5rem;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border: none;
}

.main__button a{
    color: var(--color-almost-white);
    text-decoration: none;
}

.container_companies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 0 1rem;
}


@media screen and (min-width: 1440px) {
    main {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 8rem;
        gap: 8rem
    }
    .main__background--mobile {
        width: 50vw;
        height: 64vh;
    }
    .container__main,
    .main__text,
    h1 {
        text-align: left;
    }
    h1 {
        font-size: 6rem;
        max-width: 640px;
        margin-bottom: 3rem;
    }
    .main__text {
        font-size: 1.2rem;
        text-align: justify;
    }
    .main__button {
        padding: 1.2rem 2rem;
    }
    .main__button a {
        font-size: 1rem;
    }
    .container_companies {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5rem;
    }
    .container_companies img {
        height: 1.2rem;
    }
}